html, body {
    font-family: Rubik;
}
.carousel-inner > .item > img { width:100%; height:570px; }


.jumbotron {
    font-family: monospace;
    border-radius: 0 !important;
    background-image: url("/static/img/863607.png");
    background-size: auto 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}
.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}



.navbar {
    background-color: #F2EAD8 !important;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 20px;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar-brand{
    font-size: Medium;
    font-family: "Rubik", sans-serif !important;
    font-weight: normal !important;
}
.nav-link {
    font-weight: bold;
    font-size: 15px;
    line-height: 1.4;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}
.header{
}


.header .container{
    padding:0;
}

#content{
    min-height: 500px;

}

.site-footer {
    background-color: #F2EAD8 !important;
    padding: 2em 0;
    border-top: #eee;
}

.site-footer p:last-child {
    margin-bottom: 0;
}

.site-footer a {
    color: #71774b;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.site-footer a:hover {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.site-footer h3 {
    font-size: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
}

.site-footer hr {
    width: 100%;
}

.footer-social a {
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}

.footer-social a:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}


#footer{
    font-family: "Microsoft YaHei UI" !important;
    background-color: #f2f2f2;
}
.footer-link{
    color: #808080;
}
#footer-about{
    color: #808080;
}