
<div class='container-fluid'>
    <div class="jumbotron">
        <h1 class="display-5">Hello, Milky Way!</h1>
        <p class="lead">This is a Single Page Application. All the pages that are loaded here are dynamic.</p>
        <p class="lead">The website gonna be updated regularly. Stay tune to check out new features.</p>
        <hr class="my-4" style="width:70%;text-align:left;margin-left:0">
        <p></p>
        <a class="btn btn-primary btn-lg" href="https://github.com/VaibhavModi/Flask_SPA" target="_blank" role="button">Learn more</a>
    </div>
</div>