{% extends "index.html" %}
{% block content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="https://github.com/VaibhavModi/TrialAutoRenew_Acrobat" target="_blank"><img src="/static/img/Adobe.png" alt="Image" class="img-fluid rounded" height="500" width="380"></a>
                    <div class="excerpt">
                        <h2><a href="https://github.com/VaibhavModi/TrialAutoRenew_Acrobat" target="_blank">Adobe Acrobat Trial Auto-Renew</a></h2>
                        <span class="d-inline-block mt-1">On - Python</span>
                        <p>This is a tool to renew Adobe Acrobat 2017 trial period incase someone has missed the opportunity to actually get the real trial out of it. [For Educational Purpose]</p>
                        <p><a href="">Read More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="https://github.com/VaibhavModi/MedX" target="_blank"><img src="/static/img/medical-logo.jpg" alt="Image" class="img-fluid rounded"  height="500" width="380"></a>
                    <div class="excerpt">
                        <h2><a href="https://github.com/VaibhavModi/MedX" target="_blank">MedX - Medical Utilities App</a></h2>
                        <p>A Visual Basic .NET application with OLEDB API connection to MS Access database that can be used for medical purposes such as veiwing health history, making appointments, finding a nearby practitoner, self diagonasing [beta] and other health and fitness purposes.</p>
                        <p><a href="#">Read More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a id="sudoku_img" href="https://github.com/VaibhavModi/Sudoku_Solver" target="_blank"><img src="/static/img/sudoku.jpg" alt="Image" class="img-fluid rounded" height="700" width="300"></a>
                    <div class="excerpt">
                        <h2><a href="https://github.com/VaibhavModi/Sudoku_Solver" target="_blank">Sudoku Solver</a></h2>
                        <p>Backtracking algorithm to solve 9x9 Sudoku Puzzle</p>
                        <p><a href="#">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}